<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/style/fonts/kamedins-style/css/kamedins-fonts.css">
    <link rel="stylesheet" href="../src/style/base.css">
    <link rel="stylesheet" href="../src/style/s576.css">
    <link rel="stylesheet" href="../src/style/s768.css">
    <link rel="stylesheet" href="../src/style/s992.css">
    <link rel="stylesheet" href="../src/style/s1200.css">
    <link rel="stylesheet" href="../src/style/s1400.css">
    <link rel="stylesheet" href="../src/style/sOver1400.css">
    <title>FirstOpen3</title>
</head>
<body>
    <header class="flex-between">
        <p>powered by <a href="https://eltruhtml.github.io/kamedin" class="clickable" target="_blank">Dev Kamedin</a></p>
        <div id="language-holder" class="flex-around">
            <div class="language-icons" id="german-language"></div>
            <div class="language-icons" id="english-language"></div>
        </div>
    </header>
    <main class="flex-column">
        <h2 id="master-headline"><span class="kame-font">Kamedin´s</span> Moneytracker</h2>
        <div class="text-block flex-column">
            <p>Auf dieser Seite werden keine Cookies verwendet, geschweigedenn Daten an Dritte weitergegeben</p>
        </div>
        <div class="text-block flex-column">
            <p>Der Moneytracker ist eine von vielen Referenzarbeiten, die all deine Daten im localStorage deines persönlichen Gerätes und Browsers speichert</p>
        </div>
        <div class="text-block flex-column">
            <p>Da der localStorage nicht nur Geräte- sondern auch Brwoser gebunden ist, solltest du diese Seite JETZT in dem Browser öffnen, indem du vorhast, den Moneytracker auch künftig zu verwenden.</p>
        </div>
        <div class="circle-shapes next-button buttons" id="first-time-open-next-button"></div>
    </main>
    <script src="../src/js/moneytracker.js" type="module"></script>
</body>
</html>